body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-form{
   margin-left: 80px !important; 
}
#main{
    width: 100%;

}
#slider{
    height: 400px;
    background-image: url(http://media.baobinhphuoc.com.vn/Content/UploadFiles/EditorFiles/images/2013/Quy3/baivite.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#footer{
    background-color: #bbb;
}
.navbar-right{
    margin-right: 100px !important;
}
.navbar {
    background-color: #e8e8e8 !important;
}
.navbar-right > li {
    border: 1px solid black;
}
#button{
    position: absolute;
    right: 80px;
    padding: 6px 12px;
}
.btn-primary{
    margin-right: 25px;
}
.btn{
    width: 100px;
}
.navbar-form .form-control {
    width: 500px !important;
}
.h1{
    text-align: center;
}
.img-item{
    width: 100%;
}
li{
    text-decoration: none;
    list-style: none;
    text-align: left;
    padding-bottom: 7px;
}
.h3{
    text-align: left;
}
.footer-ul{
    margin: 0;
    padding: 0;
}
.content-item--ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

